<%# patient %>
<div class="container">
  <% if current_user.patient? %>
    <h2>Hola <%= @user.first_name %>!<h2>
    <p>Tu meta: <%= @user.goal %></p>
  <% end %>
</div>

<%# doctor %>
<div class="container">
  <% if current_user.doctor? %>
    <h2>Hola <%= @user.first_name %>!<h2>
    <p>Ciudad: <%= @user.location %></p>
  <% end %>
</div>
