<div class="container">
  <% if current_user.patient? %>
  <h2>Gracias por registrarte, <%= @user.first_name %>!<h2>
  <p>Cual es tu meta?</p>
      <%= simple_form_for @user do |f| %>
        <%= f.input :goal %>
        <%= f.button :submit %>
      <% end %>
  <% end %>
</div>
